.menu{
color:red;
}


table, th, td {
    border:1px solid black;
}
a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

body{
    background-color: aqua;
}

ul{
    list-style-type: lower-alpha;
}
ol{
    list-style-type: lower-alpha;
}
